<ion-menu side="start" menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/cursos"><ion-icon name="clipboard-outline" slot="start" color="dark"></ion-icon> Cursos</ion-item>
        <ion-item routerLink="/perfil"><ion-icon name="person-sharp" slot="start" color="dark"></ion-icon> Perfil</ion-item>
        <ion-item (click)="onClick()" routerLink="/home"><ion-icon name="log-out-sharp" slot="start" color="dark"></ion-icon> Cerrar sesion</ion-item>      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>